<div class="checkout">
  <% if(@customer.nil?) %>
    <script type="text/javascript">
      window.location.href="/clients/new"  
    </script>
  <% else %>
    <% session['client'] = @customer.id %>
    <script type="text/javascript">
      window.location.href="/invoice"  
    </script>
  <% end %>
</div>