<div class="product">
  <h2><%= link_to product.name, product%></h2>
  
  <% if product.image.present? %>
    <p><%= image_tag product.image.medium.url %></p>
  <% end %>
  
  <p><strong>Price:</strong> <%= number_to_currency product.price %></p>
  
  <form method="post" action="/shopping_cart">
    <input name="id" type="hidden" value="<%product.id%>"/>
    <button type="submit">Buy it!</button>
  </form>
</div>