<div class="product">
  <h2><%= link_to @product.name, @product %></h2>
  
  <p><strong>Price:</strong> <%= number_to_currency @product.price %></p>
  
  <div><%= @product.description %></div>
</div>